In [28]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'tensorflow'

In [16]:
races_df = pd.read_csv('races.csv')
races_df = races_df[['venue', 'config', 'surface', 'distance', 'going', 'race_class']]
# runs = pd.read_csv('runs.csv')
# runs = runs.dropna()
races.describe()

           surface     distance   race_class
count  6349.000000  6349.000000  6349.000000
mean      0.109151  1419.113246     3.893684
std       0.311853   281.468745     1.992868
min       0.000000  1000.000000     0.000000
25%       0.000000  1200.000000     3.000000
50%       0.000000  1400.000000     4.000000
75%       0.000000  1650.000000     4.000000
max       1.000000  2400.000000    13.000000

In [20]:
races.head()

  venue config  surface  distance         going  race_class
0    ST      A        0      1400  GOOD TO FIRM           5
1    ST      A        0      1200  GOOD TO FIRM           5
2    ST      A        0      1400  GOOD TO FIRM           4
3    ST      A        0      1200  GOOD TO FIRM           1
4    ST      A        0      1600  GOOD TO FIRM           4

In [23]:
print(races_df[races_df.isnull().any(axis=1)])
races_df = races_df.dropna()

Empty DataFrame
Columns: [venue, config, surface, distance, going, race_class]
Index: []

In [24]:
config_encoder = preprocessing.OrdinalEncoder()

NameError: name 'preprocessing' is not defined