In [31]:
import pandas as pd
import numpy as np
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
pd.set_option('display.max_columns', None)

In [28]:
# Races
races_df = pd.read_csv('races.csv')
#races_df = races_df[['venue', 'config', 'surface', 'distance', 'going', 'race_class']]
# Runs
runs_df = pd.read_csv('runs.csv')
runs_df = runs_df[['race_id', 'horse_no', 'result', 'won', 'lengths_behind', 'horse_age', 'horse_rating', 'declared_weight', 'actual_weight']]

In [29]:
races_df.describe()

,race_id,race_no,surface,distance,prize,race_class,sec_time1,sec_time2,sec_time3,sec_time4,sec_time5,sec_time6,sec_time7,time1,time2,time3,time4,time5,time6,time7,place_combination1,place_combination2,place_combination3,place_combination4,place_dividend1,place_dividend2,place_dividend3,place_dividend4,win_combination1,win_dividend1,win_combination2,win_dividend2
count,6349.000000,6349.000000,6349.000000,6349.000000,5.887000e+03,6349.000000,6349.000000,6349.000000,6349.000000,3634.000000,821.000000,115.000000,0.0,6349.000000,6349.000000,6349.000000,3634.000000,821.000000,115.000000,0.0,6349.00000,6349.000000,6324.000000,23.000000,6349.000000,6349.000000,6324.000000,23.000000,6349.000000,6349.000000,12.000000,12.000000
mean,3174.000000,5.226807,0.109151,1419.113246,1.134790e+06,3.893684,20.699466,22.826749,23.830743,23.852854,23.868685,23.912261,NaN,20.699466,43.526215,67.356959,91.735793,112.479695,140.349739,NaN,6.23862,6.366357,6.525933,8.434783,27.778469,32.802536,38.969292,22.013043,6.238620,96.096944,8.166667,101.416667
std,1832.942761,2.795019,0.311853,281.468745,1.749156e+06,1.992868,5.880319,1.044998,0.870355,0.820277,0.758860,0.667664,NaN,5.880319,6.657225,6.978638,7.814997,5.452576,4.910272,NaN,3.61858,3.662594,3.731685,2.982160,25.175925,30.275423,37.015938,16.757802,3.620321,131.221259,3.325749,101.672566
min,0.000000,1.000000,0.000000,1000.000000,4.850000e+05,0.000000,12.390000,20.060000,21.200000,21.400000,21.810000,21.770000,NaN,12.390000,33.110000,55.160000,80.430000,105.830000,132.840000,NaN,1.00000,1.000000,1.000000,4.000000,10.100000,10.100000,10.100000,10.100000,1.000000,10.500000,3.000000,12.000000
25%,1587.000000,3.000000,0.000000,1200.000000,6.750000e+05,3.000000,13.690000,22.140000,23.210000,23.300000,23.410000,23.550000,NaN,13.690000,35.950000,59.830000,83.410000,109.010000,137.290000,NaN,3.00000,3.000000,3.000000,6.500000,15.000000,17.000000,18.500000,10.100000,3.000000,34.500000,5.500000,25.250000
50%,3174.000000,5.000000,0.000000,1400.000000,8.400000e+05,4.000000,23.720000,22.800000,23.720000,23.770000,23.830000,24.020000,NaN,23.720000,46.410000,69.720000,94.300000,110.330000,138.360000,NaN,6.00000,6.000000,6.000000,8.000000,20.000000,24.000000,27.500000,15.500000,6.000000,58.500000,8.000000,50.250000
75%,4761.000000,7.000000,0.000000,1650.000000,1.060000e+06,4.000000,24.700000,23.450000,24.380000,24.330000,24.280000,24.295000,NaN,24.700000,48.070000,72.100000,100.030000,113.150000,140.205000,NaN,9.00000,9.000000,10.000000,11.000000,31.000000,36.500000,44.000000,24.750000,9.000000,105.500000,11.250000,178.625000
max,6348.000000,11.000000,1.000000,2400.000000,2.500000e+07,13.000000,30.030000,27.410000,27.580000,28.920000,26.500000,25.920000,NaN,30.030000,56.220000,81.290000,107.810000,134.310000,158.490000,NaN,14.00000,14.000000,14.000000,14.000000,410.500000,627.000000,420.500000,68.000000,14.000000,2687.500000,12.000000,282.500000

In [27]:
runs_df.describe()

,race_id,horse_no,result,won,lengths_behind,horse_age,horse_rating,declared_weight,actual_weight
count,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000,79447.000000
mean,3173.352814,6.905623,6.838597,0.080053,6.108901,3.339346,61.034904,1104.953568,122.729656
std,1833.101494,3.760711,3.730498,0.271378,33.636209,0.876763,11.748788,62.347597,6.305496
min,0.000000,1.000000,1.000000,0.000000,-0.500000,2.000000,10.000000,693.000000,103.000000
25%,1586.000000,4.000000,4.000000,0.000000,1.750000,3.000000,60.000000,1062.000000,118.000000
50%,3174.000000,7.000000,7.000000,0.000000,4.000000,3.000000,60.000000,1102.000000,123.000000
75%,4764.500000,10.000000,10.000000,0.000000,6.750000,3.000000,60.000000,1146.000000,128.000000
max,6348.000000,14.000000,14.000000,1.000000,999.000000,10.000000,138.000000,1369.000000,133.000000