In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./data/0914.HK.csv')

In [13]:
df = df[['Close']].copy()
df.dropna(inplace=True)

In [14]:
df.describe()

             Close
count  3065.000000
mean     31.091272
std      12.163205
min      10.666666
25%      22.150000
50%      27.250000
75%      41.500000
max      61.049999