In [30]:
# http://gouthamanbalaraman.com/blog/american-option-pricing-quantlib-python.html
# https://quantlib-python-docs.readthedocs.io/en/latest/instruments/options.html
import QuantLib as ql
import matplotlib.pyplot as plt
import pandas as pd
import datetime
%matplotlib inline
ql.__version__

'1.23'

In [ ]:
# iv http://options-scanner.com/index.php?page=atm-implied-volatility
# https://warrants.ubs.com/en/warrants/warrants_analyzer_performance/code/11051
iv =

In [49]:
df = pd.read_csv('./data/0914.options.csv')
df.head()

   type  underlying  strike  dividendYield  riskFreeRate   expiry  volatility
0  call       39.55      39           6.48         0.001  29/6/22       17.03

In [41]:
def get_o_type(type):
    if (type == 'call'):
        return ql.Option.Call
    elif (type == 'put'):
        return ql.Option.Put

In [50]:
def calc_option_price(otype, spot, strike, dyield, rfr, exp, iv):
    d,m,y = exp.split('/')
    maturity_date = ql.Date(d,m,y)
    spot_price = spot
    strike_price = strike
    volatility = iv / 100 # the historical vols or implied vols
    dividend_rate =  0.0163
    option_type = ql.Option.Call