In [1]:
from dateutil.parser import parse 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
plt.rcParams.update({'figure.figsize': (10, 7), 'figure.dpi': 120})

In [22]:
df = pd.read_csv('./ES=F.csv').set_index('Date')

               Open     High      Low    Close  Adj Close     Volume
Date
2020-05-08  2882.00  2933.00  2879.75  2928.50    2928.50  1326254.0
2020-05-11  2920.75  2947.00  2889.75  2922.75    2922.75  1528302.0
2020-05-12  2919.25  2939.25  2838.00  2852.50    2852.50  1824303.0
2020-05-13  2839.75  2876.75  2786.00  2813.00    2813.00  2591379.0
2020-05-14  2820.25  2853.75  2760.25  2847.00    2847.00  2501222.0
...             ...      ...      ...      ...        ...        ...
2021-05-03  4181.50  4202.50  4181.00  4185.75    4185.75  1256240.0
2021-05-04  4184.25  4185.50  4120.50  4158.25    4158.25  2003587.0
2021-05-05  4158.25  4180.00  4153.00  4160.00    4160.00  1418246.0
2021-05-06  4158.75  4197.25  4140.50  4194.25    4194.25  1751616.0
2021-05-07  4197.50  4232.25  4191.75  4225.25    4225.25  1751616.0

[252 rows x 6 columns]