In [24]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [25]:
spy_ticker_data = pd.read_csv('SPY.csv')

In [28]:
spy_ticker_data.describe()
filtered_spy_data = spy_ticker_data.dropna(axis=0)

In [32]:
filtered_spy_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-04-17,285.380005,287.299988,282.399994,286.640015,282.115784,146684800
1,2020-04-20,282.609985,286.790009,281.350006,281.589996,277.145508,100109300
2,2020-04-21,276.730011,278.040009,272.019989,273.040009,268.730469,126385700
3,2020-04-22,278.350006,281.000000,276.910004,279.100006,274.694824,93524600
4,2020-04-23,280.489990,283.940002,278.750000,279.079987,274.675110,104709700
...,...,...,...,...,...,...,...
247,2021-04-12,410.850006,411.929993,410.200012,411.640015,411.640015,56704900
248,2021-04-13,411.529999,413.529999,411.119995,412.859985,412.859985,56551000
249,2021-04-14,412.829987,413.959991,410.869995,411.450012,411.450012,61659900
250,2021-04-15,413.739990,416.160004,413.690002,415.869995,415.869995,60229800
251,2021-04-16,417.250000,417.910004,415.730011,417.260010,417.260010,82004500